h1{
    background:rgb(9, 84, 197);
    padding: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   

}
.container {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(0, 153, 255);
    padding: 15px;
 
}
  