

   

ul li a:hover{
    background: linear-gradient(to right, rgb(0, 110, 255), rgb(0, 27, 116));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}
